/* Add here all your CSS customizations */

:root {
  --c-white: #fff;
  --c-black: #000;
  --c-primary: #05a4a9;
  --c-secondary: #d2d711;
  --c-tertiary: #002b37;

  --c-border: #021F3D;


  --c-danger: #d2322d;
}

body {
  color: #333;
  font-family: "Sarabun", sans-serif !important;
  font-size: 16px;
}

.btn:focus{
  box-shadow: none;
}

.text-main {
  color: var(--c-primary) !important;
}

.header .logo {
  margin: 5px 0 0 10px;
}

.btn {
  font-size: 16px;
}


.page-header h2 {
  border-bottom-color: var(--c-primary) !important;
}


.notice {
  color: red;
}

.control-label {
  position: relative;
}

.badge-title {
  background: var(--c-secondary);
  color: var(--c-tertiary);
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
  width: 25px;
}

.btn-export {
  background: #d2d711 !important;
}

.list-approval {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.list-approval li {
  border-bottom: 1px solid #ddd;
  padding: .5rem 1rem .5rem 1rem;
  cursor: pointer;
}

.list-approval li:last-child {
  border: 0;
}

.list-approval li:hover {
  background: #f1f1f1;
}

ul.nav-main li i {
  font-size: 1.5rem;
}


ul.nav-main li a {
  font-size: 16px;
}

.userbox.show .dropdown-menu {
  padding: 55px 10px 0;
}

.head-table {
  background-color: var(--c-tertiary);
  color: var(--c-white);
}

.head-table th,
td {
  vertical-align: middle !important;
}

.bg-0 {
  background: transparent !important;
}

select {
  padding-left: 0.5rem !important;
}

ul.nav-main>li>a:hover,
ul.nav-main>li>a:focus {
  background: var(--c-primary);
}


html .bg-primary {
  background-color: var(--c-primary) !important;
  text-decoration: none !important;
}

html .bg-secondary.icon {
  background-color: var(--c-secondary) !important;
  color: var(--c-tertiary) !important;
}

html .create-file a,
html .filter-create a {
  text-decoration: none !important;
}

.filter-create {
  margin-top: 0 !important;
}

.filter-create .card-active {
  background: var(--c-primary) !important;
  color: var(--c-white);
}

.card-body {
  background-color: var(--c-white);
}

.create-file .card-body {
  height: 158px;
  display: flex;

}

.btn-yellow {
  margin-right: 5px;
  width: 150px;
  background-color: #FFCC33;
  color: white;
}

.btn-grey {
  margin-right: 5px;
  background-color: #778899;
  color: white;
  width: 150px;
}

.btn-etc {
  width: 150px;
  margin-right: 5px;
}

.actions a i {
  background: rgba(88, 110, 84, 0.1);
  border: 2px solid rgba(88, 110, 84, 0.2) !important;
  border-radius: 5px;
  padding: 4px;
  margin-right: 3px;
  cursor: pointer;
  color: #777 !important;
}

.actions .edit-row i:hover,
.actions .edit-row i:focus {
  background-color: var(--c-secondary);

}

.actions .remove-row i:hover,
.actions .remove-row i:focus {
  background-color: var(--c-danger);
  color: var(--c-white) !important;
  border-color: transparent !important;

}

.card-header {
  background-color: var(--c-tertiary);

}

.card-title {
  color: var(--c-white);
  letter-spacing: .2px;
}

.btn-primary {
  background: var(--c-primary) !important;
  border-color: var(--c-primary) !important;
  color: var(--c-white) !important;
}

.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0 0 0 3px var(--c-primary) !important;
  border-color: var(--c-primary) !important;
  color: var(--c-white);
}

.btn-primary:active {
  background: var(--c-primary) !important;
  box-shadow: 0 0 0 3px var(--c-primary) !important;
  border-color: var(--c-primary) !important;
}

.selected {
  background-color: rgb(0 136 204 / 10%) !important;
}

.float-input {
  position: relative;
}

.float-input i {
  position: absolute;
  right: 15px;
  top: 15px;
  pointer-events: none;
}

.form-control {
  font-size: 16px !important;
  height: 50px;
}

.form-control.populate {
  padding-left: 10px !important;
  font-size: .9rem !important;
}

.title-label {
  display: block;
  font-weight: 600;
}

.multiselect-native-select .btn-group {
  width: 100% !important;
  text-align: left;
}

.select2-container--bootstrap .select2-selection--single {
  height: 50px;
  line-height: 2.7;
  padding: 6px 24px 6px 12px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
  border-color: #1d2127 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  height: 0;
  left: 0;
  margin-left: -11px;
  margin-top: 1px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b {
  border-color: transparent transparent #1d2127;
  border-width: 0 5px 5px;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
  border: 1px solid var(--c-border);
}

.form-control.populate {
  font-size: .9rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  font-size: .9rem;
}


.form-control:focus {
  border: 1px solid var(--c-border);
}

.w-150 {
  width: 150px !important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.pagination .page-item.active .page-link {
  background-color: var(--c-primary) !important;
  border-color: var(--c-primary);
  color: #fff !important;
}

.tab-content {
  display: block !important;
}

.badge-sm {
  padding: 3px 5px 3px 5px !important;
}

.step-approval {
  display: flex !important;
  justify-content: center !important;
}

.scroll-approval {
  min-height: calc(100vh - 250px);
}

.scroll-news {
  min-height: calc(100vh - 360px);
}

.scroll-pdf{
  max-height: calc(100vh - 140px);
  overflow-y: scroll;
}


.tab-select {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
}

@media (min-height: 800px) and (min-width: 992px) {
  .action-buttons-fixed .action-buttons {
    padding: 20px 25px 15px 25px;
  }
}

.bt-0 {
  border-top: none !important;
}

.custom-radio-group .radio-custom {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.tm-box{
  padding:.5rem 1rem;
  min-height: 300px;
}

.comment-item{
    margin: 5px 0;
    width: auto;
    max-width: 100%;
    min-height: 30px;
    background: #fef7e6;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    align-items: center;
    word-break: break-all;
}

.pdf-feedback{
  cursor: pointer;
}

.block-comment{
  position: relative;
}

.block-comment .button-comment{
  position: absolute;
  top: -4px;
  right: 10px;
}

.btn-comment:focus{
    box-shadow: none;
}
.user-list{
  padding: 1rem 0;
}

.history-item{
  box-shadow: 0 3px 6px #0000001a;
  border-radius: 5px;
  background: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.file-item{
  box-shadow: 0 3px 6px #0000001a;
  border-radius: 5px;
  background: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.file-item-info {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.file-item-info:hover{
  text-decoration: none;
}

.file-empty{
  font-size: 60px;
  color: #ddd;
}


.position-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.position-list h6{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-ol-white:hover,.btn-ol-white:focus{
  background: var(--c-primary);
  border-color: var(--c-primary);
}

.select2-container--bootstrap .select2-selection--multiple{
  font-size: 16px !important;
    height: 50px !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{
  height: 50px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{
  margin: 8px 0 0 6px;
}

.fliter-group{
}

.btn-clear{
  margin-top: 2rem !important;
}
.btn-remove-user{
  margin-top: 2rem !important;
}

.notification-menu .title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.user-post{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  justify-content: space-between;
}

.btn-more.dropdown-toggle::after{
  display: none;
}

.comment-other{
  padding: 1rem;
}

.list-comment{
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}
.list-comment:first-child{
  border-top: 1px solid #ddd;
}

.list-comment:last-child{
  border-bottom: 0;
}